.carousel-image {
    height: 400px; /* Set the fixed height for the images */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  /* Additional styles for responsiveness */
  @media (max-width: 1024px) {
    .carousel-inner {
      height: 600px; /* Set a fixed height for the carousel inner container on smaller screens */
    }
  
    .carousel-caption {
      bottom: 0;
       /* Position captions at the bottom of the container */
    }

    /* max-height= 50%; */
  }